@using Domain
@using FluentValidation.Results
@model Web.ViewModels.GroupsAndUsersViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Buscar Usuarios | FriendPaid</title>

<div id="gruposContainer">
    <div class="page-header" style="padding-top: 20px">
        <h1>Buscar Usuarios</h1>
    </div>

    @if (@Model.errors != null)
    {
        <div class="alert alert-block alert-error fade in">
        @foreach (string @error in @Model.errors)
        {
            <p>@error</p>
        }
        </div>
    }
    
    @foreach (string @entity in Model.names)
    {

        <div id="grupoContainer" class="portlet span3">
            <div class="portlet-header">@entity</div>
            <div class="portlet-content">
                <div class="btn-group">
                    <button class="btn span1">Ver</button>
                    <button class="btn span2">Invitar</button>
                </div>
            </div>
        </div>

    }
               
</div>
