@using Domain.Facebook
@model Web.ViewModels.ContactsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Contactos | FriendPaid</title>

<div class="page-header" style="padding-top: 20px">
    <h1>Contactos</h1>
</div>

<div class="container-fluid metro">
    <div class="span12">
        <ul id="sortable">
            @foreach (FacebookContact @contact in @Model.facebookContacts)
            {
                <div class="span3" style="padding-top: 15px;">
                    <li class="ui-state-default">
                        <h3>@contact.name</h3>
                        <img src="https://graph.facebook.com/@contact.id/picture"/>
                        <div class="btn-group">
                            <button class="btn span1">Ver</button>
                            <button class="btn span2">Eliminar</button>
                        </div>
                    </li>
                </div>
            }
        </ul> 
    </div>
</div>
