@using Domain.Facebook
@model Web.ViewModels.ContactsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Contactos | FriendPaid</title>

<div class="page-header" style="padding-top: 20px">
    <h1>Contactos</h1>
</div>

<div class="container-fluid metro">
    <div class="span8">
        <ul id="sortable">
           
        </ul> 
    </div>
    <div class="span4" style="float:right;">
        @if (@Model.facebookContacts.Count!=0)
        {
            <h2>Invitá a tus amigos de Facebook</h2>
            <ul class="thumbnails">
                @foreach (FacebookContact @contact in @Model.facebookContacts)
                {
                    <li class="span3">
                        <div class="media thumbnail">
                            <a href="#" class="pull-left"><img src="https://graph.facebook.com/@contact.facebookId/picture" class="media-object" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @contact.name
                                </h4> 
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
