@using FluentValidation.Results
@model Web.ViewModels.CreateGroupViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header" style="padding-top: 100px">
    <h1>CrearGrupo</h1>
</div>

@if(@Model.errors!=null)
{
    <div class="alert alert-block alert-error fade in">
    @foreach (ValidationFailure @error in @Model.errors)
    {
        <p>@error.ErrorMessage</p>
    }
    </div>
}
<div class="row-fluid metro">
    <div class="span2 offset5">
        @using (Html.BeginForm("Create", "Group", FormMethod.Post))
        {     
            @Html.HiddenFor(model => model.username)           
            
            <label class="control-label">NombreDeGrupo</label>
            @Html.TextBoxFor(model => model.groupName, new { @placeholder = "Nombre del Grupo" })
            <button class="btn" type="submit">Crear Grupo</button>
        }  
    </div>
</div>